*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
/* define variaveis CSS globais */
:root{
    /* Neutral */
    --Black:#263238;
    --D_grey:#4D4D4D;
    --Grey:#717171;
    --L_Grey:#89939E;
    --Grey-Blue:#ABBED1;
    --Silver:#F5F7FA;
    --White: #ffffff;
    /* Primary */
    --Primary:#4CAF4F;
    --Secundary:#263238;
    --Info:#2194f3;
    /* Color Shade */
    --Shade1:#43A046;
    --Shade2:#388E3B;
    --Shade3:#237D31;
    --Shade4:#1B5E1F;
    --Shade:#103E13;
    /* Color Tint */
    --Tint1:#66BB69;
    --Tint2:#81C784;
    --Tint3:#A5D6A7;
    --tint4:#C8E6C9;
    --Tint5:#E8F5E9;
    /* Action */
    --Warning:#FBC02D;
    --Error:#E53835;
    --Success:#2E7D31;
    /* Configuração de Fontes */
    --font-family:"Inter";
    --font-headline-1-size:64px;
    --font-headline-2-size:36px;
    --font-headline-weight:600;
    --font-headline-4-size:20px;
    --font-body2-height-regular:400;
    --font-body3-size:16px;
}
a{
    text-decoration:none ;
}
p{
    color: var(--Grey);
}
h2{
    color: var(--D_grey);
    font-size: var(--font-headline-2-size);
    font-weight: var(--font-headline-weight);
}
.btn-primary{
    width: 150px ;
    height: 50px;
    font-size: 11.14px;
    border-radius: 5px;
    background-color: var(--Primary);
    transition: ease 0.3s;
    cursor: pointer;
}
.btn-primary:hover{
    transform: scale(1.07);
}
.btn-primary a{
    color: var(--White);
    font-size: var(--font-body3-size)
}
.get-button{
    width: 150px;
    height: 50px;
    background-color: var(--Primary);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}
.get-button a{
    color: var(--White);
}
.get-button img{
    width: 17px;
    height: auto;
}
.get-button:hover{
    transform: translateX(20px) scale(1.05);
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.5s ease;
}
/* Quando aparece na tela */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
@keyframes piscar {
  50% {
    background-color: transparent;
  }
}
@keyframes digitar {
  0% {
    width: 0; /* Começa com o texto invisível */
  }
  100% {
    width: 100%; /* Texto vai aparecendo aos poucos */
  }
}