@import url(./global.css);

    @media (max-width: 768px) {
        header{
           flex-direction: column; 
           gap: 20px;
        }
        .container-header{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .menu-toggle {
            display: flex;
        }

        .nav-header {
            display: none;
            margin-top: 15px;
        }

        .nav-header.active {
            display: block;
        }

        .nav-header ul {
            flex-direction: column;
            gap: 15px;
        }
        .content-hero-section{
            flex-direction: column;
            height: 800px;
            align-items: center;
            justify-content: center;
        }
        .content-hero h1{
            font-size: 40px;
            padding: 15px;
            text-align: center;
        }
        .content-hero p{
            padding: 10px;
            font-size: 20px;
            text-align: center;
        }
        .content-hero button{
            width: 150px;
            margin-left: 145px;
        }
        .content-hero-section .content-hero-img{
            width: 300px;
            height: auto;
            margin-top: 50px;
        }
        .our-clients{
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 250px;
        }
        .container-logo-clients{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            
        }
        .container-logo-clients img{
            width: 50px;
            height: auto;
        }
        .manage{
            height: 1000px;
            width: 100%;
            flex-direction: column;
        }
        .content-manage{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            align-items: center;
        }
        .content-manage .bloco{
            width: 100%;
        }
        .unseen{
            height: 1000px;
            flex-direction: column;
        }
        .unseen img{
            width:300px;
            height: auto;
            margin-top: 300px;
            
        }
        .unseen-content{
            margin-top: -100px;
            width: 80%;

        }
        .unseen-content h2{
            font-size: 25px;
        }
        .helping{
            height: 700px;
            flex-direction: column;
            gap: -29px;
        }
        .helping h2{
            font-size: 30px;
        }
        .helping-content{
            width: 90%;
            
        }
        .content-helping{
            flex-direction: column;
            justify-content: center;
            gap: 0;
        }
        .linha{
            flex-direction: column;
            align-items: center;
        }
        #unseen2{
            height: 1000px;
        }
        #unseen2 #panaimg{
            margin-top: 60px;
        }
        .tesla{
            flex-direction: column;
            height: 1300px;
        }
        .tesla #teslaimg{
            width: 350px;
            height: auto;
        }
        .tesla-content{
            width: 80%;
        }
        .icons-tesla{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
        .caring{
            flex-direction: column;
            height:1600px;
        }
        .caring-content{
            width: 80%;
            text-align: left;
            margin-top: -800px;
        }
        .caring-container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 80%;
            gap: 100px;
            margin-top: -1400px;
        }
        .bloco-caring{
            width: 100%;
        }
        .pellentesque{
            height: 300px;
        }
        .pellentesque h2{
            font-size: 40px;
            width: 80%;
            text-align: left;
        }
        footer{
            height: 1200px;
            flex-direction: column;
            justify-content: center;
        }
        .footer-content1{
            margin-top: -250px;
        }
        .footer-container{
            flex-direction: column;
            width: 80%;
            margin-top: -200px;
            gap: 20px;

        }
        .footer-bloco{
            width: 80%;
        }
        .footer-email{
            width: 80%;

        }
    }

    


