@import url('./global.css');

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    background-color: var(--White);  
}
.logo-header img{
    width: 154px;
    height: 24px;
}
.nav-header ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-header ul li a{
    color: var(--Black);
    font-weight: var(--font-body2-height-regular);
    transition: 0.3s ease;
}
.nav-header a:hover{
    color: var(--Primary);
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.menu-toggle div {
    width: 30px;
    height: 3px;
    background: #000;
    transition: 0.3s;
}

.container-btn-header button{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.7s;
}

.container-btn-header button:hover{
     transform: scale(1.07);
}

.container-btn-header .btn-login{
    background-color: var(--Silver);
    border: 1px solid #4d4d4d65;
}
.container-btn-header .btn-login a{
    color: var(--Primary);
}
.container-btn-header .btn-sign-up a{
    color: var(--White);
}
.container-btn-header .btn-sign-up{
    background-color: var(--Primary);
    color: var(--White);
}
.content-hero-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 416.95px;
    background-color:var(--Silver);
}
.content-hero-section img{
    width: 300px;
    height: auto;
}
.content-hero{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-hero h1 {
  font-size: var(--font-headline-1-size);
  /* display: inline-block; 
  overflow: hidden; 
  white-space: nowrap;
  border-right: 3px solid black; 
  width: 0; 
  animation: digitar 4s steps(30) 1s forwards;  */
}

/* .content-hero h1::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: black;
  animation: piscar 0.8s step-end infinite;
} */

.content-hero span{
    color: var(--Primary);
}
.content-hero p{
    font-size: 14px;
    color: var(--Grey);
}
.our-clients{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 132.92px;
    padding: 20px;
    margin-top: 40px;
    height: 200px;
}
.content-our-clients{
    margin-bottom: 50px;
}
.content-our-clients h2{
    color: var(--D_grey);
    margin-bottom: 10px;
    font-size: var(--font-headline-2-size);
}
.content-our-clients p{
    font-size: 15px;
    color: var(--Grey);
}
.container-logo-clients{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}
.container-logo-clients img{
    width: 70px;
    height: auto;
    transition: 0.1s ease;
}
.container-logo-clients img:hover{
    transform: translateY(-20px);
}
.manage{
    margin-top: 50px;
    width: 100%;
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.manage h2{
    color: var(--D_grey);
    margin-bottom: 10px;
    font-size: var(--font-headline-2-size);
    text-align: center;
}
.manage p{
    font-size: 15px;
    color: var(--Grey);
}
.topo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-manage{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bloco{
    width: 20%;
    height: 340px;
    border: 1px solid var(--Silver);
    border-radius: 5px;
    box-shadow: 0px 0px 120px var(--Silver);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    transition: 0.3s ease;
}
.bloco:hover{
    transform: scale(1.07);
}
.bloco:hover img{
    transform: translateY(-20px) scale(1.10);
}
.bloco img{
    width: 70px;
    height: auto;
    transition: 0.3s ease;
}
.bloco h2{
    font-size: 28px;
}
.bloco p{
    font-size: 15px;
    text-align: center;
    color: var(--Black);
}
.unseen{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
#unseen2{
    height: 600px;
}
.unseen img{
    width: 500px;
    height: auto;
}
.unseen-content{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.helping{
    width: 100%;
    height: 350px;
    margin-top: 80px;
    background-color: var(--Silver);
    display: flex;
    align-items:center ;
    justify-content: center;
}
.helping-content{
    width: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.helping-content h2{
    font-size: 50px;
}
.helping-content span{
    color: var(--Primary);
}
.helping-content p{
    text-align: left;
}
.container-helping{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.linha{
    width: 100%;
    height: 50%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}
.helping-bloco{
    display: flex;
    gap: 20px;
    transition: 0.5s ease;
}
.helping-bloco img{
    width: 50px;
    height: auto;
}
.helping-bloco:hover{
    transform: translateY(-10px);
}
#clubs{
    justify-content: flex-start;
}
.tesla{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--Silver);
}
.tesla img{
    width: 400px;
    height: auto;
}
.tesla-content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 83%;
    gap: 10px;
}
.tesla-content p{
    font-size: 20px;
}
.tesla-content h3{
    font-size: 25px;
    color: var(--Primary);
}
.icons-tesla{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}
.icons-tesla img{
    width: 40px;
    transition: 0.3s ease;
}
.icons-tesla h4{
    color: var(--Primary);
}
.icons-tesla div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    transition: 0.3s ease;
    cursor: pointer;
}
.icons-tesla div:hover{
    transform: translateX(20px);
}
.icons-tesla div:hover #seta{
    display: block;
}
#icon-tesla:hover{
    transform: translateY(-10px)
}
.icons-tesla div img{
    width: 30px;
    height: auto;
}
#seta{
    display:none;
}
.caring{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.caring-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    width: 40%;
    height: 100px;
    text-align: center;
    padding: 10px;
}

.caring-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 300px;
}
.bloco-caring{
    width: 30%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease;
}
.bloco-caring-content{
    background-color: var(--Silver);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    width: 350px;
    padding: 20px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    bottom: 70px;
}
.bloco-caring img{
    width: 400px;
    height: auto;
}
.bloco-caring a{
    color: var(--Primary);
}
.bloco-caring:hover{
    transform: translateY(-30px);
}
.pellentesque{
    width: 100%;
    height: 300px;
    background-color: var(--Silver);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.pellentesque h2{
    font-size: 60px;
    text-align: center;
}
footer{
    width: 100%;
    height: 400px;
    color: var(--White);
    background-color: var(--Black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    position: absolute;
}
.footer-content1{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.footer-content1 .logo{
    width: 200px;
    height: auto;
}
.footer-redes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 50px;
}
.rede{
    display: flex;
    background-color: var(--D_grey);
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: 0.3s ease;
}
.rede:hover{
    transform: scale(1.1);
}
.rede img{
    width: 20px;
    height: auto;
}
.footer-container{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-bloco{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    width: 15%;
    height: 75%;
}
.footer-email{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    width: 20%;
    height: 75%;
}
.footer-email input textarea{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: var(--Silver);
}
footer h5{
    font-size: 30px;
    font-weight: 400;
}

footer a{
    color: var(--White);
    font-weight: 100;
    transition: 0.3s ease;
}
footer a:hover{
    transform: translateY(-5px);
    text-decoration: underline;
}
